<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>@ViewData["Title"] - e-commerce</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&family=Unbounded:wght@400;700&display=swap" rel="stylesheet" />

    <!-- CSS FILES -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/css/tooplate-kool-form-pack.css" rel="stylesheet" />
</head>
<body>
    <main>
        <!-- ✅ هنا بيبقى الكود الثابت (Navbar, Header, Footer...) -->
        <header class="site-header">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-12 col-12 d-flex align-items-center">
                        <a class="site-header-text d-flex justify-content-center align-items-center me-auto" asp-controller="Home" asp-action="Index">
                            <i class="bi-box"></i>
                            <span>Kool Form Pack</span>
                        </a>

                        <ul class="social-icon d-flex justify-content-center align-items-center mx-auto">
                            <span class="text-white me-4 d-none d-lg-block">Stay connected</span>
                            <li class="social-icon-item"><a href="#" class="social-icon-link bi-instagram"></a></li>
                            <li class="social-icon-item"><a href="#" class="social-icon-link bi-twitter"></a></li>
                            <li class="social-icon-item"><a href="#" class="social-icon-link bi-whatsapp"></a></li>
                        </ul>
                        <div>
                            <a href="#" class="custom-btn custom-border-btn btn" data-bs-toggle="modal" data-bs-target="#subscribeModal">
                                Notify me
                                <i class="bi-arrow-right ms-2"></i>
                            </a>
                        </div>
                        <a class="bi-list offcanvas-icon" data-bs-toggle="offcanvas" href="#offcanvasMenu" role="button" aria-controls="offcanvasMenu"></a>
                        
                    </div>
                </div>
            </div>
        </header>

        <!-- ✅ هنا بيتغير من صفحة لصفحة -->
        @RenderBody()
    </main>

    <!-- JAVASCRIPT FILES -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/countdown.js"></script>
    <script src="~/js/init.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>