@model (string Title, string CurrentPage)
<div class="page-title light-background">
<div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0">@Model.Title</h1>
    <nav class="breadcrumbs">
        <ol>
            <li>
                <a asp-controller="Home" asp-action="Index" class="active">Home</a>
            </li>
            <li class="current">@Model.CurrentPage</li>
        </ol>
    </nav>
</div>
</div>
