@model StyleHub.Models.AdminCategory
@{
    ViewData["Title"] = "Create Category";
    Layout = "~/Views/Shared/_Layout_Style_hub.cshtml";
}
<div class="container mt-4">



<h2>Create Category</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Photo">Image</label>
        <input asp-for="Photo" class="form-control" type="file" />
    </div>
    <div class="form-group">
        <label asp-for="Back_Color">Background Color</label>
        <input asp-for="Back_Color" class="form-control" type="text" />
    </div>
    <button type="submit" class="btn btn-success mt-2">Create</button>
</form>

</div>
